
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar.mat-toolbar-single-row{
  background-color: #cfd6d8;
}
.note-action{
  position: fixed;
  top: 90px;
  right: 1.5em;
}